<!DOCTYPE html>
<html lang="en" dir="ltr">
<head><meta charset="utf-8">
<title>Signup</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="shortcut icon" type="image/ico" href="/static/images/favicon.ico">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/events/">
    <img src="/static/images/logo.png" width="200" height="40">
  </a>
  <div class="collapse navbar-collapse" id="nav-content">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="/events/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/events/about/">About</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/forum/">Forum</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact/">Contact</a>
      </li>
    </ul>

      <ul class="navbar-nav ml-auto">
<!--        <li class="nav-item active"><a class="nav-link" href="/accounts/login/">Signin</a></li>
-->
        <li class="nav-item active"><a class="nav-link" href="{% url 'logins:login_view' %}">Signin</a></li>
      </ul>

  </div>
</nav>

  <br>

<br><br><br><br>
<div class="row" style="min-height:100%;max-width:100%;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h1>Sign Up</h1>

<!--    <p>Already have an account? Then please <a href="/accounts/login/">sign in</a>.</p>
<!--    <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
-->
          <p>Already have an account? Then please <a href="{% url 'logins:login_view' %}">sign in</a>.</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'logins:signup_view' %}">

        {% csrf_token %}



    <div id="div_id_username" class="form-group">

            <label for="id_username" class="col-form-label  requiredField">
                Usernames<span class="asteriskField">*</span>
            </label>








                <div class="">
                    <input type="text" name="usernamee" placeholder="Username" autofocus="autofocus" minlength="5" maxlength="150" class="textinput textInput form-control" required="" id="id_username">

                </div>


    </div>

    <div id="div_id_email" class="form-group">

            <label for="id_email" class="col-form-label  requiredField">
                E-mail<span class="asteriskField">*</span>
            </label>

                <div class="">
                    <input type="email" name="emaill" placeholder="E-mail address" class="textinput textInput form-control" required="" id="id_email">

                </div>

    </div>

      <div class="row">
        <div class="col">

    <div id="div_id_first_name" class="form-group">

            <label for="id_first_name" class="col-form-label ">
                First name
            </label>

                <div class="">
                    <input type="text" name="first_namee" maxlength="30" class="textinput textInput form-control" id="id_first_name">

                </div>

    </div>


</div>
        <div class="col">

    <div id="div_id_last_name" class="form-group">

            <label for="id_last_name" class="col-form-label ">
                Last name
            </label>

                <div class="">
                    <input type="text" name="last_namee" maxlength="150" class="textinput textInput form-control" id="id_last_name">

                </div>

    </div>


</div>
      </div>
      <div class="row">
        <div class="col">

    <div id="div_id_user_type" class="form-group">

            <label for="id_user_type" class="col-form-label  requiredField">
                Register as <span class="asteriskField">*</span>
            </label>

                <div class="">
                    <select name="user_typee" class="select form-control" id="id_user_type">
  <option value="part">Participant</option>

  <option value="org">Organiser</option>

  <option value="def">Default</option>

</select>
                </div>

    </div>

</div>
        <div class="col">

    <div id="div_id_phone" class="form-group">

            <label for="id_phone" class="col-form-label ">
                Phone Number
            </label>

                <div class="">
                    <input type="number" name="phonee" class="numberinput form-control" id="id_phone">

                </div>

    </div>

</div>
      </div>

    <div id="div_id_password1" class="form-group">

            <label for="id_password1" class="col-form-label  requiredField">
                Password<span class="asteriskField">*</span>
            </label>
                <div class="">
                    <input type="password" name="passwordd1" placeholder="Password" class="textinput textInput form-control" required="" id="id_password1">

                </div>


    </div>

    <div id="div_id_password2" class="form-group">

            <label for="id_password2" class="col-form-label  requiredField">
                Password (again)<span class="asteriskField">*</span>
            </label>

                <div class="">
                    <input type="password" name="password2" placeholder="Password (again)" class="textinput textInput form-control" required="" id="id_password2">

                </div>


    </div>

      <br>

      <button type="submit" class="btn btn-primary">Sign Up »</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>

  <footer class="footer" style="position:relative; bottom:0; width:100%; height:60px;background-color:black;">
    <div class="container">
      <span class="text-light">© Copyright 2018</span>
    </div>
  </footer>

<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<!-- Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- Latest compiled and minified Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Initialize Bootstrap functionality -->

<script>
  // Initialize tooltip component
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })

  // Initialize popover component
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
  function goBack() {
      window.history.back()
  }
</script>

</body>
</html>