<style>
  @import url(https://fonts.googleapis.com/css?family=Raleway:300);
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  html {
    height: 100%;
  }

  body {
    background: inherit;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    background-color: #342643;
    height: 100%;
  }

  .text-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: 9em;
    font-weight: 700;
    color: #EE4B5E;
    position: relative;
  }

  .subtitle {
    font-size: 30px;
    font-weight: 700;
    color: #1FA9D6;
    position: relative;
  }

  .buttons {
    margin: 30px;
  }

  .buttons a.button {
    font-weight: 700;
    border: 2px solid #EE4B5E;
    text-decoration: none;
    padding: 15px;
    text-transform: uppercase;
    color: #EE4B5E;
    border-radius: 26px;
    transition: all 0.2s ease-in-out;
  }

  .buttons a.button:hover {
    background-color: #EE4B5E;
    color: white;
    transition: all 0.2s ease-in-out;
  }

  @keyframes noise-anim {
    0% {
      clip: rect(61px, 9999px, 182px, 0);
    }
    5% {
      clip: rect(64px, 9999px, 136px, 0);
    }
    10% {
      clip: rect(31px, 9999px, 15px, 0);
    }
    15% {
      clip: rect(6px, 9999px, 144px, 0);
    }
    20% {
      clip: rect(186px, 9999px, 196px, 0);
    }
    25% {
      clip: rect(134px, 9999px, 129px, 0);
    }
    30% {
      clip: rect(87px, 9999px, 31px, 0);
    }
    35% {
      clip: rect(5px, 9999px, 187px, 0);
    }
    40% {
      clip: rect(20px, 9999px, 56px, 0);
    }
    45% {
      clip: rect(14px, 9999px, 185px, 0);
    }
    50% {
      clip: rect(68px, 9999px, 100px, 0);
    }
    55% {
      clip: rect(108px, 9999px, 169px, 0);
    }
    60% {
      clip: rect(55px, 9999px, 90px, 0);
    }
    65% {
      clip: rect(195px, 9999px, 60px, 0);
    }
    70% {
      clip: rect(102px, 9999px, 157px, 0);
    }
    75% {
      clip: rect(191px, 9999px, 131px, 0);
    }
    80% {
      clip: rect(142px, 9999px, 185px, 0);
    }
    85% {
      clip: rect(128px, 9999px, 40px, 0);
    }
    90% {
      clip: rect(200px, 9999px, 94px, 0);
    }
    95% {
      clip: rect(87px, 9999px, 50px, 0);
    }
    100% {
      clip: rect(200px, 9999px, 27px, 0);
    }
  }

  .subtitle:after,
  .title:after {
    content: attr(data-content);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: metallic;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
  }

  @keyframes noise-anim-2 {
    0% {
      clip: rect(73px, 9999px, 50px, 0);
    }
    5% {
      clip: rect(133px, 9999px, 46px, 0);
    }
    10% {
      clip: rect(15px, 9999px, 46px, 0);
    }
    15% {
      clip: rect(75px, 9999px, 2px, 0);
    }
    20% {
      clip: rect(112px, 9999px, 139px, 0);
    }
    25% {
      clip: rect(20px, 9999px, 76px, 0);
    }
    30% {
      clip: rect(121px, 9999px, 126px, 0);
    }
    35% {
      clip: rect(197px, 9999px, 168px, 0);
    }
    40% {
      clip: rect(16px, 9999px, 80px, 0);
    }
    45% {
      clip: rect(46px, 9999px, 65px, 0);
    }
    50% {
      clip: rect(190px, 9999px, 10px, 0);
    }
    55% {
      clip: rect(117px, 9999px, 191px, 0);
    }
    60% {
      clip: rect(77px, 9999px, 67px, 0);
    }
    65% {
      clip: rect(192px, 9999px, 11px, 0);
    }
    70% {
      clip: rect(99px, 9999px, 151px, 0);
    }
    75% {
      clip: rect(24px, 9999px, 131px, 0);
    }
    80% {
      clip: rect(155px, 9999px, 175px, 0);
    }
    85% {
      clip: rect(180px, 9999px, 30px, 0);
    }
    90% {
      clip: rect(158px, 9999px, 102px, 0);
    }
    95% {
      clip: rect(138px, 9999px, 176px, 0);
    }
    100% {
      clip: rect(141px, 9999px, 59px, 0);
    }
  }

  .subtitle:before,
  .title:before {
    content: attr(data-content);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: white;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
  }
</style>

<body>
  <div class="text-wrapper">
    <div class="title" data-content="404">
      404
    </div>
    <br/>
    <div class="subtitle" data-content="Maybe you are not logged in or">
      Maybe you are not logged in or,
    </div>
    <br/>
    <div class="subtitle" data-content="The page you're looking for doesn't exist">
      The page you're looking for doesn't exist.
    </div>
    <br/>
    <br/>
    <div class="buttons">
      <a class="button" href="{% url 'accounts:index' %}">Go to homepage</a>
    </div>
  </div>
</body>
