{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <br/><br/><br/>
  <div class="content" style="min-height:100%;max-width:100%;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form method = 'POST' action="#" enctype="multipart/form-data">{% csrf_token %}
          {{ form|crispy }}
          <br/>
          <input type='submit' value='Create Event' class="btn btn-primary"/>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock content %}
